body {
    width: 99%;
    margin: auto;
    background-color: black;
}

header {
    box-shadow: 0 0 100px #413d34, 0 0 6px rgba(232, 190, 107, .8);
}



.logoprincipal {
    display: flex;
    justify-content: space-between;

}

.imglogoprincipal {
    display: flex;
    width: 160px;
    justify-content: center
}

.imglogoprincipal:hover {
    color: rgb(153, 118, 36);
    transition: 1.5s;
    box-shadow: 0 0 100px #413d34, 0 0 6px rgb(153, 118, 36);
    border: none;
    zoom: normal;

}

.navbar {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding: 0;


}

.navbarsecond {
    display: flex;
    list-style: none;
}

@font-face {
    font-family: "Bender";
    src: url("../fonts/Bender.otf") format("opentype");
}

.colornav {
    color: rgb(131, 127, 128);
    padding: 10px;
    text-decoration: none;
    font-family: "Bender";

}

.colornav:hover {

    color: rgb(153, 118, 36);
    transition: 1.5s;
    box-shadow: 0 0 100px #413d34, 0 0 6px rgb(153, 118, 36);
    border-radius: 100%;
}



h1 {
    padding-top: 32px;
    padding-left: 1px;
    display: flex;
    justify-content: center;
    font-family: "Bender";
    font-size: 30px;
    color: goldenrod;
}

.bienvenue {

    color: rgb(153, 118, 36)
}



.photoprincipal {

    display: flex;
    justify-content: space-around;
}

.photoprincipal p {

    width: 20%;
    margin: auto;
    font-size: 18px
}

.bear {
    width: 291px;
    height: 350px;
    object-fit: cover;
    justify-content: space-around;
    box-shadow: 0 0 100px #ff0000, 0 0 6px rgba(232, 190, 107, .8);
    margin: 10px;

}

.bear:hover {
    transform: scale(1.02);
    transition: 0.9s;
    box-shadow: 0 0 200px #ff0000, 0 0 10px rgba(232, 190, 107, .8);
}

.usec {
    margin: 10px;
    width: 291px;
    height: 350px;
    box-shadow: 0 0 100px #0026ff, 0 0 6px rgba(232, 190, 107, .8);
}

.usec:hover {
    transform: scale(1.02);
    transition: 0.9s;
    box-shadow: 0 0 200px #0026ff, 0 0 10px rgba(232, 190, 107, .8);
}

.mapassiontarkov {
    text-align: center;
    font-family: "Bender";
    text-shadow: 3px 1px 3px rgb(126, 125, 117);
    box-shadow: 1px 1px 1px;

}

article p {

    color: gray;
}

.sniper {

    width: 100%
}

.sniperboxart {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: 0, 0, 0, 0.3;
    background-image: url(../img/Sniperguys.png);
    border: solid black;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 90%;



}

.bossknigthimg {
    margin-top: 30px;
    width: 23%;
    border: solid;
    box-shadow: 0 0 100px #413d34, 0 0 6px rgba(254, 0, 0, 0.8);
    margin-bottom: 30px;

}

.bossknigthimg:hover {
    transform: scale(1.10);
    transition: 0.4s;
    text-shadow: 0 0 200px #070603, 10 10 200px rgba(4, 3, 2, 0.8);


}


.descriptif {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;

}

.divdescriptif h3 {
    font-family: "Bender";
    color: rgb(225, 169, 39);
    text-shadow: 0 0 100px #584414, 0 0 6px hwb(0 0% 100%);
    height: 20px;
    margin: 30px;
    font-size: 30px;



}

.divdescriptif h3:hover {

    transform: scale(1.10);
    transition: 0.4s;
    text-shadow: 0 0 200px #070603, 10 10 200px rgba(4, 3, 2, 0.8);
    border: none;

}

.divdescriptif p {
    font-family: "Bender";
    color: rgb(190, 190, 166);
    text-shadow: 0px 0px 100px #584414, -3px -1px 2px hwb(0 0% 100%);
    font-size: 20px;
}


.uspd {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row-reverse;
    align-items: center
}

.divdescriptif {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 30%;
    align-content: center;

}

.formulaire h3 {
    display: flex;
    font-family: "Bender";
    color: rgb(225, 169, 39);
    text-shadow: 0 0 100px #584414, 0 0 6px hwb(0 0% 100%);
    font-size: 50px;
    padding: 40px;
    align-items: center;
    flex-direction: column;
}

.input {

    font-family: "Bender";
    color: rgb(190, 190, 166);
    text-shadow: 0px 0px 100px #584414, -3px -1px 2px hwb(0 0% 100%);
    font-size: 29px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 4px;
    right: 34px;
    flex-direction: column;
    align-content: space-around;

}

.input label {

    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 15px;

}

.labelmargin {

    padding: 20px;

}

#name {
    font-family: "Bender";
    color: rgb(0, 0, 0);
    font-size: 30px;
    display: flex;
    justify-content: center;
    width: 600px;
    text-align: center;


}

#age {

    font-family: "Bender";
    color: rgb(0, 0, 0);
    font-size: 30px;
    display: flex;
    justify-content: center;
    width: 66px;
}

.checkinput {
    font-family: "Bender";
    color: rgb(190, 190, 166);
    text-shadow: 0px 0px 100px #584414, -3px -1px 2px hwb(0 0% 100%);
    font-size: 29px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;

}

#AccepterCGU {

    width: 22px;

}

.bouton {

    display: flex;
    justify-content: space-evenly;
    padding: 15px
}

button {

    width: 188px;
    height: 50px;
    font-family: "Bender";
    background-color: #000000f3;
    border: none;
    color: rgb(225, 169, 39);
    font-size: 22px;
    
}

button:hover{

    transform: scale(1.02);
    transition: 0.9s;
    box-shadow: 0 0 100px #413d34, 0 0 6px rgba(232, 190, 107, .8);
}

footer {
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 100px #413d34, 0 0 6px rgba(232, 190, 107, .8);
    display: flex;

}

.divfooter p{
    
    font-family: "Bender";
    color: rgb(225, 169, 39);

}

.mentionlégal img{
    display: flex;
    width: 30px;
    height: 45px;
    flex-direction: row;
}

.reseaux{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    gap: 50px;
    object-fit: cover;
}

.reseaux img{

    width: 45px;
    height: 45px;
}

.divfooter{
    margin: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bs{

    width: 150px;
    height: auto;
}
